@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

$black:#1e2827;
$white:#ffffff;
$blue:#00c1de;
$green:#c2e76b;
$grey:#7d8b89;

.woocommerce .star-rating span {
	font-family:star;
 }

.woocommerce ul.products li.product .ehi-star-rating,
.woocommerce-page ul.products li.product .ehi-star-rating {
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
    line-height: inherit;
    height: 1.4em;
    display: block !important;
}
 
.woocommerce ul.products li.product .ehi-star-rating:before,
.woocommerce-page ul.products li.product .ehi-star-rating:before {
    color: inherit;
}
 
.woocommerce ul.products li.product .star-rating,
.woocommerce-page ul.products li.product .star-rating {
    display: none;
}

* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	transition: all 0.2s ease;
}

.wpcf7-not-valid-tip {
	font-size: 12px;
	padding-bottom:10px;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
	padding:5px;
	margin:0;
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
}

.p-relative {
	position:relative;
}

#top-header {
	background-color: $black;
	padding:12px 0;

	h3 {
		color: $white;
		text-transform: uppercase;
		font-size: 15px;
		margin-bottom: 0;
		font-weight: 600;
	}
}

.btn {
	border-radius: 30px!important;
	padding:10px 30px!important;
}

.btn.btn-blue {
	background-color:$blue;
	color: $white;
	font-weight: 500;
	font-size: 14px;

	&:hover {
		opacity: 0.8;
		color: $white;
	}
}

#pages {
	padding:50px 0;

	h1 {
		font-weight: 700;
		margin-bottom:50px;
		color: $green;
	}

	h5 {
		font-size: 18px;
		color: $blue;
		font-weight: 400;
	}

	p {
		text-align: justify;
	}
}

#bestsellers {
	padding:60px 0;

	h2 {
		font-weight: 500;
	}

	.owl-bestseller {

		.stars {
			max-width: 120px;
			display: block;
			margin:0 auto;
			margin-bottom: 20px;
		}

		a {
			 text-decoration: none;
		}

		.item:hover {
			position:relative;	
			margin-top:-5px;
		}

		.img {
			position: relative;

			&:hover {
				opacity: 0.9;
			}

			.circle {
				position:absolute;
				top:0;
				z-index:-1;
			}
		}

		.text {
			text-align: center;

			h3 {
				font-size: 17px;
				font-weight: 700;
				margin:0;
				color: $black;
			}

			p {
				margin:10px 0;
				font-size: 15px;
				color:$grey;
			}
		}
	}
}

#history {
	padding:60px 0;
	background-color:#f2f3f7;

	.text {
		position:relative;
		top:50%;
		transform: translate(0,-50%);

		h3 {
			text-transform: uppercase;

			span {
				background-color:$blue;
				color: $white;
				padding:3px 10px;
			}
		}

		h2 {
			font-size: 50px;
			font-weight: 500;
			margin-bottom: 40px;

			span {
				display: block;
				font-weight: 500;

				&.blue {
					color:$blue;
					display: inline-block;
				}
			}
		}

		p {
			margin-bottom: 20px;
			color:$grey;

			&.italic {
				font-style: italic;
				margin-bottom: 20px;
				color: $black;
			}
		}
	}
}

#cards {
	padding:30px 0;

	.line {
		height: 100%;
		position:relative;
		float: right;
	}

	img {
		float: right;
		display: block;
	}

	.text {
		position:relative;
		top:50%;
		display: block;
		transform: translate(0,-50%);
		text-decoration: none;
		color: $black;

		h4 {
			margin-bottom: 0;
			font-size: 20px;
		}

		p {
			margin-bottom: 0;
			color:$grey;
		}
	}
}

#testimonial {
	.img {
		height: 550px;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;

		&.img2 {
			height: 533px;
		}
	}

	.align {
		position:relative;
		top:50%;
		transform: translate(0,-50%);
	}

	.text {
		padding:50px 0;

		.people {
			position:relative;
			content:'';
			top: 50%;
			left:50%;
			transform: translate(-50%,-50%);
			height: 150px;
			width: 150px;
			border-radius:50%;
			background-size:cover;
			background-position: center;
		}

		h3 {
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 25px;
		}

		p {
			text-align:center;
			font-size: 15px;
		}

		h5 {
			text-align: center;
			font-weight: 500;
			color: $white;
			font-size: 17px;
		}
	}

	.text-blue {
		background-color:$blue;

		p,h3 {
			color: $white;
		}
	}

	.text-green {
		background-color:$green;

		p {
			margin-bottom:10px;
		}

		h5 {
			color: black;
		}
	}
}

#about {
	#header {
		padding:24px 0;
		background-color:#e7e8ec;

		h2 {
			text-transform: uppercase;
			font-size: 20px;
			margin:0;
		}
	}

	#middle {
		padding: 60px 0;
	}

	h1 {
		text-align: center;
	}

	.line {
		width: 100%;
		height: 3px;
		background-color:$blue;
		margin-bottom: 50px;
	}

	p {
		color: #4e5b5a;
		text-align: justify;
	}

	.text {
		.logo {
			margin:20px auto;
			display: block;
		}
	}

	#bg-blue {
		background-image:url('../img/about/bg-blue.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		padding:60px 0;
	}

	#bg-green {
		padding:60px 0;
		background-color:#c2e76b;

		h3 {
			text-align:center;
			text-transform: uppercase;
			color: $white;
			margin:0;
		}

		p {
			text-align: center;
			color: #99ba3f;
		}
	}
}

//Woocommerce
#checkout {
	padding:40px 0;
}

.woocommerce-billing-fields {
	label {
		font-weight: 700;
	}

	.form-control {
		padding:8px;
		border-radius:0!important;
		border:2px solid #ececec;
	}
}

.checkout_coupon .btn {
	border-radius:10px;
	background-color:#4e5b5a;
	border-radius:10px!important;
	color: $white;
	border:0;
	font-weight: 600;
}

#coupon_code {
    border-radius: 10px;
    margin-right: 30px;
}

.woocommerce-checkout-payment {
	.btn-primary {
		border-radius:10px;
		background-color:#1e2827;
		border-radius:10px!important;
		border:0;
		font-weight: 600;

		&:hover {
			background-color:#1e2827;
			opacity: 0.8;
		}
	}
}

.alert-info {
	background-color:#a3cb3e!important;
	color: $white!important;
	border:0!important;

	a {
		color: $white!important;
	}
}

.cart-collaterals {
	.btn-primary {
		background-color:#4e5b5a;
		border:0;
		border-radius:10px!important;

		&:hover {
			opacity: 0.9;
			background-color:#4e5b5a;
		}
	}
}
.gm-minicart-dropdown {
	padding:0!important;
}

.gm-main-menu-wrapper .gm-minicart-dropdown .woocommerce-mini-cart-item .remove {
	width: auto!important;
}

.widget_shopping_cart_content {
	.woocommerce-mini-cart-item {
		padding:0 10px!important;
	}

	.cart-footer {
	    position: relative!important;
	}
}

#woocommerce-inner {
	padding:50px 0;
}

#shop {
	padding:60px 0;

	.page-title {
		color: $blue;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: 600;
	}

	.line-right {
		height: 100%;
		width: 2px;
		background-color:#baccc9;
		position:absolute;
		right: 30px;
		top:0;
	}

	.card {
		border-radius:0!important;
		border:0!important;
		position:relative;

		&:hover {
			margin-top: -5px;
			box-shadow: 0px 0px 20px rgba(1,1,1,0.05);
		}
	}

	.card > .woocommerce-loop-product__link {
		background-color:#e7e8ec;
		border-radius:0;
	}

	.card .woocommerce-loop-product__title {
		text-transform: uppercase;
		text-align: center;
		font-size: 15px;
	}

	.card .amount {
		color: #7d8b89;
	}

	.card .add_to_cart_button {
		background-color:#7d8b89;
		border:0;
		max-width: 90%;
		margin:0 auto;
		font-size: 14px;

		&:hover {
			opacity: 0.8;
		}
	}
}

.ms-slide {
	background-color:$white;
}

.ms-tabs-vertical-template {
	background-color:$white;
	border:2px solid black;
}

.master-slider {
	background-color:$white;
}

.ms-thumb-list {
	background-color:$white;
}

.woocommerce .star-rating span::before {
	color: gold;
}

.woocommerce-verification-required {
	text-align: center;
}

#product {
	padding-bottom:50px;

	#valoration {
		margin:30px auto;

		h3 {
			font-size: 35px;
			font-weight: 800;
			color: $green;
			text-align: center;
		}
	}

	.star-rating {
		float: inherit!important;
		margin: 20px 0!important;

		span::before {
			color: gold;
		}
	}

	#header {
		padding:24px 0;
		background-color:#e7e8ec;

		h2 {
			text-transform: uppercase;
			font-size: 20px;
			margin:0;
		}
	}

	.add_to_cart_inline {
		border:0!important;
		padding:0!important;

		.amount bdi, span {
			font-weight: 600!important;
			font-size: 23px;
		}
	}

	.btn {
		background-color:#a1c93e;
		border:0;
		border-radius: 10px!important;
	}

	#info_main {
		padding:50px 0;

		h1 {
			font-size: 25px;
			font-weight: 600;
		}

		.line {
			width: 60%;
			height: 2px;
			background-color:$blue;
			margin-bottom: 20px;
		}

		.stars {
			margin: 15px 0;
		}

		h2 {
			text-transform:uppercase;
			color: #7d8b89;
			font-size: 20px;
		}

		.subtitle {
			color: #a0aaaa;
			margin:0;
		}
	}

	#more_info {
		background-color:#f2f3f7;
		padding:30px 40px;

		.line {
			height: 100%;
			width: 2px;
			display: block;
			background-color:#baccc9;
		}

		.text {
			h3 {
				text-align: center;
				text-transform: uppercase;
				color:#7d8b89;
				font-size: 20px;
				margin-bottom: 25px;
			}

			img {
				display: block;
				margin:20px auto;
			}
		}
	}

	.product {

		.product_title {
			color: $blue;
			font-weight: 600;
			font-size: 30px;
		}

		.quantity .qty {
			padding:9px;
			border-radius:5px;
		}

		.btn-primary {
			border-radius:5px!important;
			background-color:#7d8b89;
			border:0;
		}
	}

	.woocommerce-product-gallery {
		position:relative;

		.entry-summary {
			position:absolute;
			top:50%;
			transform: translate(0,-50%);
		}
	}

	.related {
		h2 {
			text-transform: uppercase;
			color: $blue;
			font-size: 25px;
			font-weight: 600;
			margin:20px 0;
		}

		.card {
			border-radius:0!important;
			border:0!important;
			position:relative;
			background-color:#f7f7f7;
			padding:0;

			&:hover {
				margin-top: -5px;
				box-shadow: 0px 0px 20px rgba(1,1,1,0.05);
			}
		}

		.card > .woocommerce-loop-product__link {
			background-color:#e7e8ec;
			border-radius:0;
		}

		.card .woocommerce-loop-product__title {
			text-transform: uppercase;
			text-align: center;
			font-size: 15px;
		}

		.card .amount {
			color: #7d8b89;
		}

		.card .add_to_cart_button {
			background-color:#7d8b89;
			border:0;
			max-width: 90%;
			margin:0 auto;
			font-size: 14px;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.widget {
	list-style-type: none;
	padding:0;
	margin-bottom: 30px;

	.widgettitle {
		position:relative;
		text-transform: uppercase;
		color: $black;
		font-size: 24px;
		position:relative;
		margin-left:35px;
		margin-bottom: 15px;

		&::before {
			left:-50px;
			content: '';
			position:absolute;
			top:50%;
			transform: translate(0,-50%);
			width: 33px;
			height: 5px;
			background-color:#00c1de;
		}
	}

	ul {
		li {
			list-style-type: none;
			line-height: 25px;

			a {
				color:#7d8b89;
				text-decoration: none;
			}
		}
	}
}

.woocommerce table.shop_table td {
	font-size: 15px;
}

#contact {
	
	#header {
		padding:24px 0;
		background-color:#e7e8ec;

		h2 {
			text-transform: uppercase;
			font-size: 20px;
			margin:0;
		}
	}

	a {
		color: $blue;
	}

	#info {
		padding:60px 0;

		h1 {
			text-align: center;
		}

		.line {
			width: 70%;
			height: 2px;
			margin:20px auto;
			background-color: $blue;
		}

		p {
			text-align:center;
		}

		.form {
			margin-top: 60px;

			.form-control {
				margin-bottom: 10px;
			}

			.btn-submit {
				margin:0 auto;
				display: block;
				text-align: center;
				max-width: 230px;
				height: auto;
				background-color:$blue;
				padding:13px 60px!important;
				color: $white;
				font-weight: 600;
				font-size: 17px;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

footer {
	padding:40px 0;
	background-color:#4e5b5a;
	position:relative;

	h3 {
		color:$white;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 15px;

		&.top {
			margin-top: 20px;
		}
	}

	.email {
		color: #7d8b89;
		text-decoration: none;

		&:hover {
			color: #fff;
			opacity: 0.6;
		}
	}

	.align {
		top:50%;
		transform: translate(0,-50%);
		position:relative;
	}

	ul {
		padding: 0;

		li {
			list-style-type: none;

			a {
				font-weight: 500;
				text-decoration: none;
				color: #7d8b89;

				&:hover {
					color: #fff!important;
					opacity: 0.6;
				}
			}
		}
	}
}

#sub-footer {
	background-color:#1e2827;
	color:#fff;
	padding:20px 0;

	p, a {
		margin:0;
		color: $white;
		text-decoration: none;

		&:hover {
			color: $white;
			opacity: 0.6;
		}
	}
}

//Media queries
@media only screen and (max-width : 1366px) {

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

	#about #middle {
		text-align: center;
	}

	#history {
		img {
			display: block;
			margin:20px auto;
		}

		.text {
			text-align: center;

			h2 {
				font-size: 40px;
				line-height: 45px;
				margin-bottom: 20px;
			}
		}
	}

	#cards .text {
		p {
			font-size: 13px;
		}

		h4 {
		    font-size: 16px;
		}
	}

	#cards {

		.text {
			text-align: center;
		}

		img {
			margin:0 auto;
			display: block;
			float: inherit;
			margin-bottom: 10px;
		}
	}

	#testimonial {
		.text {
			text-align: center;
		}

		.text-blue p, #testimonial .text-blue h3, .text-green p, #testimonial .text-green h3 {
			max-width: 70%;
			display: block;
			margin:15px auto;
		}

		.img {
			display: none;
		}
	}

	footer {
		.logo {
			display: block;
			margin:13px auto;
			text-align: center;
			max-width: 50%!important;
		}

		h3 {
			margin-top: 20px;
		}
	}

}

@media only screen and (max-width : 768px) {

	#cards .item {
		margin:20px 0;
	}

}

@media only screen and (max-width : 480px) {

	.widget .widgettitle {
		margin-left: 0;
	}

	.product-categories {
		padding: 0;
	}

	#shop {
	    padding: 20px;
	}

	.owl-bestseller {
		img {
			max-width: 300px;
			display: block;
			margin:0 auto;
		}

		.circle {
			left:50%;
			transform: translate(-50%,0);
		}
	}

	footer {
		text-align: center;
	}

}

@media only screen and (max-width : 320px) {

}