@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");
.woocommerce .star-rating span {
  font-family: star;
}

.woocommerce ul.products li.product .ehi-star-rating,
.woocommerce-page ul.products li.product .ehi-star-rating {
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  line-height: inherit;
  height: 1.4em;
  display: block !important;
}

.woocommerce ul.products li.product .ehi-star-rating:before,
.woocommerce-page ul.products li.product .ehi-star-rating:before {
  color: inherit;
}

.woocommerce ul.products li.product .star-rating,
.woocommerce-page ul.products li.product .star-rating {
  display: none;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.wpcf7-not-valid-tip {
  font-size: 12px;
  padding-bottom: 10px;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  padding: 5px;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.p-relative {
  position: relative;
}

#top-header {
  background-color: #1e2827;
  padding: 12px 0;
}
#top-header h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 600;
}

.btn {
  border-radius: 30px !important;
  padding: 10px 30px !important;
}

.btn.btn-blue {
  background-color: #00c1de;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}
.btn.btn-blue:hover {
  opacity: 0.8;
  color: #ffffff;
}

#pages {
  padding: 50px 0;
}
#pages h1 {
  font-weight: 700;
  margin-bottom: 50px;
  color: #c2e76b;
}
#pages h5 {
  font-size: 18px;
  color: #00c1de;
  font-weight: 400;
}
#pages p {
  text-align: justify;
}

#bestsellers {
  padding: 60px 0;
}
#bestsellers h2 {
  font-weight: 500;
}
#bestsellers .owl-bestseller .stars {
  max-width: 120px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
#bestsellers .owl-bestseller a {
  text-decoration: none;
}
#bestsellers .owl-bestseller .item:hover {
  position: relative;
  margin-top: -5px;
}
#bestsellers .owl-bestseller .img {
  position: relative;
}
#bestsellers .owl-bestseller .img:hover {
  opacity: 0.9;
}
#bestsellers .owl-bestseller .img .circle {
  position: absolute;
  top: 0;
  z-index: -1;
}
#bestsellers .owl-bestseller .text {
  text-align: center;
}
#bestsellers .owl-bestseller .text h3 {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  color: #1e2827;
}
#bestsellers .owl-bestseller .text p {
  margin: 10px 0;
  font-size: 15px;
  color: #7d8b89;
}

#history {
  padding: 60px 0;
  background-color: #f2f3f7;
}
#history .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#history .text h3 {
  text-transform: uppercase;
}
#history .text h3 span {
  background-color: #00c1de;
  color: #ffffff;
  padding: 3px 10px;
}
#history .text h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 40px;
}
#history .text h2 span {
  display: block;
  font-weight: 500;
}
#history .text h2 span.blue {
  color: #00c1de;
  display: inline-block;
}
#history .text p {
  margin-bottom: 20px;
  color: #7d8b89;
}
#history .text p.italic {
  font-style: italic;
  margin-bottom: 20px;
  color: #1e2827;
}

#cards {
  padding: 30px 0;
}
#cards .line {
  height: 100%;
  position: relative;
  float: right;
}
#cards img {
  float: right;
  display: block;
}
#cards .text {
  position: relative;
  top: 50%;
  display: block;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-decoration: none;
  color: #1e2827;
}
#cards .text h4 {
  margin-bottom: 0;
  font-size: 20px;
}
#cards .text p {
  margin-bottom: 0;
  color: #7d8b89;
}

#testimonial .img {
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#testimonial .img.img2 {
  height: 533px;
}
#testimonial .align {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#testimonial .text {
  padding: 50px 0;
}
#testimonial .text .people {
  position: relative;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
#testimonial .text h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
}
#testimonial .text p {
  text-align: center;
  font-size: 15px;
}
#testimonial .text h5 {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  font-size: 17px;
}
#testimonial .text-blue {
  background-color: #00c1de;
}
#testimonial .text-blue p, #testimonial .text-blue h3 {
  color: #ffffff;
}
#testimonial .text-green {
  background-color: #c2e76b;
}
#testimonial .text-green p {
  margin-bottom: 10px;
}
#testimonial .text-green h5 {
  color: black;
}

#about #header {
  padding: 24px 0;
  background-color: #e7e8ec;
}
#about #header h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
}
#about #middle {
  padding: 60px 0;
}
#about h1 {
  text-align: center;
}
#about .line {
  width: 100%;
  height: 3px;
  background-color: #00c1de;
  margin-bottom: 50px;
}
#about p {
  color: #4e5b5a;
  text-align: justify;
}
#about .text .logo {
  margin: 20px auto;
  display: block;
}
#about #bg-blue {
  background-image: url("../img/about/bg-blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
#about #bg-green {
  padding: 60px 0;
  background-color: #c2e76b;
}
#about #bg-green h3 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
#about #bg-green p {
  text-align: center;
  color: #99ba3f;
}

#checkout {
  padding: 40px 0;
}

.woocommerce-billing-fields label {
  font-weight: 700;
}
.woocommerce-billing-fields .form-control {
  padding: 8px;
  border-radius: 0 !important;
  border: 2px solid #ececec;
}

.checkout_coupon .btn {
  border-radius: 10px;
  background-color: #4e5b5a;
  border-radius: 10px !important;
  color: #ffffff;
  border: 0;
  font-weight: 600;
}

#coupon_code {
  border-radius: 10px;
  margin-right: 30px;
}

.woocommerce-checkout-payment .btn-primary {
  border-radius: 10px;
  background-color: #1e2827;
  border-radius: 10px !important;
  border: 0;
  font-weight: 600;
}
.woocommerce-checkout-payment .btn-primary:hover {
  background-color: #1e2827;
  opacity: 0.8;
}

.alert-info {
  background-color: #a3cb3e !important;
  color: #ffffff !important;
  border: 0 !important;
}
.alert-info a {
  color: #ffffff !important;
}

.cart-collaterals .btn-primary {
  background-color: #4e5b5a;
  border: 0;
  border-radius: 10px !important;
}
.cart-collaterals .btn-primary:hover {
  opacity: 0.9;
  background-color: #4e5b5a;
}

.gm-minicart-dropdown {
  padding: 0 !important;
}

.gm-main-menu-wrapper .gm-minicart-dropdown .woocommerce-mini-cart-item .remove {
  width: auto !important;
}

.widget_shopping_cart_content .woocommerce-mini-cart-item {
  padding: 0 10px !important;
}
.widget_shopping_cart_content .cart-footer {
  position: relative !important;
}

#woocommerce-inner {
  padding: 50px 0;
}

#shop {
  padding: 60px 0;
}
#shop .page-title {
  color: #00c1de;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
}
#shop .line-right {
  height: 100%;
  width: 2px;
  background-color: #baccc9;
  position: absolute;
  right: 30px;
  top: 0;
}
#shop .card {
  border-radius: 0 !important;
  border: 0 !important;
  position: relative;
}
#shop .card:hover {
  margin-top: -5px;
  -webkit-box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.05);
          box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.05);
}
#shop .card > .woocommerce-loop-product__link {
  background-color: #e7e8ec;
  border-radius: 0;
}
#shop .card .woocommerce-loop-product__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}
#shop .card .amount {
  color: #7d8b89;
}
#shop .card .add_to_cart_button {
  background-color: #7d8b89;
  border: 0;
  max-width: 90%;
  margin: 0 auto;
  font-size: 14px;
}
#shop .card .add_to_cart_button:hover {
  opacity: 0.8;
}

.ms-slide {
  background-color: #ffffff;
}

.ms-tabs-vertical-template {
  background-color: #ffffff;
  border: 2px solid black;
}

.master-slider {
  background-color: #ffffff;
}

.ms-thumb-list {
  background-color: #ffffff;
}

.woocommerce .star-rating span::before {
  color: gold;
}

.woocommerce-verification-required {
  text-align: center;
}

#product {
  padding-bottom: 50px;
}
#product #valoration {
  margin: 30px auto;
}
#product #valoration h3 {
  font-size: 35px;
  font-weight: 800;
  color: #c2e76b;
  text-align: center;
}
#product .star-rating {
  float: inherit !important;
  margin: 20px 0 !important;
}
#product .star-rating span::before {
  color: gold;
}
#product #header {
  padding: 24px 0;
  background-color: #e7e8ec;
}
#product #header h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
}
#product .add_to_cart_inline {
  border: 0 !important;
  padding: 0 !important;
}
#product .add_to_cart_inline .amount bdi, #product .add_to_cart_inline span {
  font-weight: 600 !important;
  font-size: 23px;
}
#product .btn {
  background-color: #a1c93e;
  border: 0;
  border-radius: 10px !important;
}
#product #info_main {
  padding: 50px 0;
}
#product #info_main h1 {
  font-size: 25px;
  font-weight: 600;
}
#product #info_main .line {
  width: 60%;
  height: 2px;
  background-color: #00c1de;
  margin-bottom: 20px;
}
#product #info_main .stars {
  margin: 15px 0;
}
#product #info_main h2 {
  text-transform: uppercase;
  color: #7d8b89;
  font-size: 20px;
}
#product #info_main .subtitle {
  color: #a0aaaa;
  margin: 0;
}
#product #more_info {
  background-color: #f2f3f7;
  padding: 30px 40px;
}
#product #more_info .line {
  height: 100%;
  width: 2px;
  display: block;
  background-color: #baccc9;
}
#product #more_info .text h3 {
  text-align: center;
  text-transform: uppercase;
  color: #7d8b89;
  font-size: 20px;
  margin-bottom: 25px;
}
#product #more_info .text img {
  display: block;
  margin: 20px auto;
}
#product .product .product_title {
  color: #00c1de;
  font-weight: 600;
  font-size: 30px;
}
#product .product .quantity .qty {
  padding: 9px;
  border-radius: 5px;
}
#product .product .btn-primary {
  border-radius: 5px !important;
  background-color: #7d8b89;
  border: 0;
}
#product .woocommerce-product-gallery {
  position: relative;
}
#product .woocommerce-product-gallery .entry-summary {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#product .related h2 {
  text-transform: uppercase;
  color: #00c1de;
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0;
}
#product .related .card {
  border-radius: 0 !important;
  border: 0 !important;
  position: relative;
  background-color: #f7f7f7;
  padding: 0;
}
#product .related .card:hover {
  margin-top: -5px;
  -webkit-box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.05);
          box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.05);
}
#product .related .card > .woocommerce-loop-product__link {
  background-color: #e7e8ec;
  border-radius: 0;
}
#product .related .card .woocommerce-loop-product__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}
#product .related .card .amount {
  color: #7d8b89;
}
#product .related .card .add_to_cart_button {
  background-color: #7d8b89;
  border: 0;
  max-width: 90%;
  margin: 0 auto;
  font-size: 14px;
}
#product .related .card .add_to_cart_button:hover {
  opacity: 0.8;
}

.widget {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
}
.widget .widgettitle {
  position: relative;
  text-transform: uppercase;
  color: #1e2827;
  font-size: 24px;
  position: relative;
  margin-left: 35px;
  margin-bottom: 15px;
}
.widget .widgettitle::before {
  left: -50px;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 33px;
  height: 5px;
  background-color: #00c1de;
}
.widget ul li {
  list-style-type: none;
  line-height: 25px;
}
.widget ul li a {
  color: #7d8b89;
  text-decoration: none;
}

.woocommerce table.shop_table td {
  font-size: 15px;
}

#contact #header {
  padding: 24px 0;
  background-color: #e7e8ec;
}
#contact #header h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
}
#contact a {
  color: #00c1de;
}
#contact #info {
  padding: 60px 0;
}
#contact #info h1 {
  text-align: center;
}
#contact #info .line {
  width: 70%;
  height: 2px;
  margin: 20px auto;
  background-color: #00c1de;
}
#contact #info p {
  text-align: center;
}
#contact #info .form {
  margin-top: 60px;
}
#contact #info .form .form-control {
  margin-bottom: 10px;
}
#contact #info .form .btn-submit {
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 230px;
  height: auto;
  background-color: #00c1de;
  padding: 13px 60px !important;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
}
#contact #info .form .btn-submit:hover {
  opacity: 0.8;
}

footer {
  padding: 40px 0;
  background-color: #4e5b5a;
  position: relative;
}
footer h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
footer h3.top {
  margin-top: 20px;
}
footer .email {
  color: #7d8b89;
  text-decoration: none;
}
footer .email:hover {
  color: #fff;
  opacity: 0.6;
}
footer .align {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: relative;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  font-weight: 500;
  text-decoration: none;
  color: #7d8b89;
}
footer ul li a:hover {
  color: #fff !important;
  opacity: 0.6;
}

#sub-footer {
  background-color: #1e2827;
  color: #fff;
  padding: 20px 0;
}
#sub-footer p, #sub-footer a {
  margin: 0;
  color: #ffffff;
  text-decoration: none;
}
#sub-footer p:hover, #sub-footer a:hover {
  color: #ffffff;
  opacity: 0.6;
}

@media only screen and (max-width: 992px) {
  #about #middle {
    text-align: center;
  }

  #history img {
    display: block;
    margin: 20px auto;
  }
  #history .text {
    text-align: center;
  }
  #history .text h2 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  #cards .text p {
    font-size: 13px;
  }
  #cards .text h4 {
    font-size: 16px;
  }

  #cards .text {
    text-align: center;
  }
  #cards img {
    margin: 0 auto;
    display: block;
    float: inherit;
    margin-bottom: 10px;
  }

  #testimonial .text {
    text-align: center;
  }
  #testimonial .text-blue p, #testimonial #testimonial .text-blue h3, #testimonial .text-green p, #testimonial #testimonial .text-green h3 {
    max-width: 70%;
    display: block;
    margin: 15px auto;
  }
  #testimonial .img {
    display: none;
  }

  footer .logo {
    display: block;
    margin: 13px auto;
    text-align: center;
    max-width: 50% !important;
  }
  footer h3 {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #cards .item {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 480px) {
  .widget .widgettitle {
    margin-left: 0;
  }

  .product-categories {
    padding: 0;
  }

  #shop {
    padding: 20px;
  }

  .owl-bestseller img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
  .owl-bestseller .circle {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  footer {
    text-align: center;
  }
}